/* ---- reset ---- */
body, html {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

canvas {
    display: block;
}




/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Fica atrás do conteúdo */
    top: 0;
    left: 0;
    background-color: #171F26   ;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #77db62;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}