@font-face {
    src: url(../font/Montserrat-VariableFont_wght.ttf);
    font-family: "montSerrat";
}

.cabecalho {
    background-color: #141b2152;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    padding: 0;

    position: fixed;
    top: 0;
    z-index: 100;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    align-items: center;
    margin-right: 50px;
}

.icone {
    max-height: 100px;
    width: 100px;
}

.botoes_nav {
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.botoes_nav:hover {
    transition: 0.2s;
    transform: translateY(-5px);
    color: #77db62;
}

.conteudo {
    position: relative;
    z-index: 1;
    padding: 50px;
    color: white;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.116);
    padding-left: 50px;
}

.fundo_home {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    display: flex;
    /* background-image: url(../img/minha_fot.png); */
}

.conteudo_home {
    padding-left: 100px !important;
}

.container_home {
    width: 600px !important;
    height: 300px;

    background-color: #141b2100;
    border-radius: 12px;
}

.nome {
    font-size: 50px;
    font-weight: 400;
    font-family: "montSerrat";
}

.sobrenome {
    font-family: 'montSerrat', sans-serif;
    font-weight: 800;
    font-size: 48px;

    color: #ffffff;

    letter-spacing: 2px;
}

.imagem {
    max-width: 1000px;
    max-height: 780px;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
}

.container_imagem {
    padding-left: 100px;
    padding-left: 50px;
    position: relative;

}


.estudo {
    font-family: 'montSerrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 5px;
    margin-bottom: 4px;
    display: block;

}

.botao {
    margin-top: 30px;
    width: 120px;
    border-radius: 12px !important;
    font-family: 'montSerrat';
}

.pag_sobre {
    height: 100vh;
    min-width: 100%;
    /* background: linear-gradient(180deg, #1111119a 0%, #000000ad 110%); */
}

.texto_sobre_mim{
    font-size: 18px ;
}

.palavras_chaves{
    color:#77db62;
    font-weight: bold;
}

.titulo_sobre_mim{
    font-size: 30px;
}

.conatiner_conteudo_sobre {
    /* padding: 100px; */
    height: 400px;
    /* border: 5px solid #77db62; */
    border-radius: 15px;
    
    color: white;
    background-color: #141b216c;
}

.conteudo_sobre {
    position: relative;
    z-index: 1;
    /* padding: 50px; */
    color: white;

    /* width: 80%; */
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 50px;
    width: 100%;
}

.slide{
    height: 30px;

    /* width: 60%; */
    /* margin-left: 300px; */
    /* border: 1px solid red; */
    overflow: hidden;
    /* mask-image: linear-gradient(
        to right,
        transpatent,
        #000,
        transpatent
    ); */
}

.slide:hover .item{
    animation-play-state: paused !important;
}

.slide .lista{
    display: flex;

    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slide .lista .item{
    width: 30px;
    height: 50px;

    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((5s / var(--quantity)) * (var(--position) - 1) );
}

@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.slide .lista .item img{
    width: 100%
}


.card {
    padding: 20px;
    height: 500px !important;
    width: 300px !important;
    background-color: rgba(0, 0, 0, 0.404) !important;
    border-radius: 15px !important;
    color: white !important;
    gap: 10px !important;
}

.titulo_card_cursos {
    margin-top: 15px;
}

.imagens_cards {
    height: 50px;
    width: 50px;

    border-radius: 15px !important;

    max-height: 100px !important;
    max-width: 100px !important;
}

.botao_carrosel {
    position: fixed !important;
}

/* .botao_carrosel_avançar{
    position: absolute !important;
    
} */
.pelicula {
    position: absolute;
    z-index: 20;
    width: 1000px;
    height: 780px;
    background-color: #00000057;
}


/* Efeito de aparição suave ao rolar */
/* .reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.9s ease-out;
} */

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.carousel-item {
    display: flex !important;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 400px;
    /* Ajuste a altura do carrossel */
    position: relative;
    display: none;
}

.carousel-item .card {
    margin: 0 auto;
    /* Garante centralização do card */
}

.carousel-item.active {
    display: block;
}

.botao_slide {
    width: 60px;
}

.carousel-control-prev {
    transform: translateX(-60px);
    /* move para a esquerda */
}

.carousel-control-next {
    transform: translateX(60px);
    /* move para a direita */
}

